# /etc/systemd/system/borg-backup.service

[Unit]
Description=Borg Backup

[Service]
Type=oneshot

# Passphrase
Environment=BORG_PASSPHRASE=Otus1234

# Repository
Environment=BORG_REPO=borg@{{ backup_ip_addr }}:/var/backup/

# Object for backuping
Environment=BACKUP_TARGET=/etc

# Logger
#Environment=LOG=/var/log/borg-backup.log
#[ -f "$LOG" ] || touch "$LOG"
#exec &> >(tee -i ""$LOG")
#exec 2>&1

# Create backup
ExecStart=/bin/borg create \
--stats \
${BORG_REPO}::etc-{now:%%Y-%%m-%%d_%%H:%%M:%%S} ${BACKUP_TARGET}

# Check backup
ExecStart=/bin/borg check ${BORG_REPO}

# Clear old backup
ExecStart=/bin/borg prune \
--keep-daily 90 \
--keep-monthly 12 \
--keep-yearly 1 \
${BORG_REPO}

# Log to borg-backup
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=borg-backup